h4{
    float: center;
}
body{
    background: linear-gradient(180deg, rgb(38, 255, 255),rgb(62, 129, 246),rgb(25, 0, 139));
    color: rgb(200, 191, 247);
    font-family: "Syne Mono", monospace;
    background-attachment: scroll;
   background-size:auto;
}
header{
    background-color: blueviolet;
    padding: 15px;
    border-radius: 5px;
    color: rgb(200, 191, 247);
}

h1 {
    color: plum;
    text-align: center;
}

nav{
    background-color: rgb(49, 121, 255);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

div{
    align-items: center;
    background-color: blueviolet;
    border-radius: 5px;
    align-content: center;
    padding:10px;
    margin: 10px;
    float:center;
}

a{
    color: rgb(239, 170, 255);
}